<div class="row" style="width:100%;background: #3d3c4c;">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="background:#343a40;height: auto !important;">
        <div class="row">
            <div class="col-md-2">
                <a class="navbar-brandc col-sm-12 col-md-12 mr-0" href="#">
                    <img alt="Proximity" src="../../assets/images/logo.png">
                </a>
            </div>
            <div class="col-md-8">
                <ul class="navbar-navc">
                    <li>
                        <a href="false" class="imgM active">
                            <img src="../../assets/images/lobbyicon.png">
                            <span>Lobby</span></a>
                    </li>
                    <li>
                        <a href="false">
                            <img src="../../assets/images/flooricon.png">
                            <span>Floor 1</span></a>
                    </li>
                    <li>
                        <a href="false">
                            <img src="../../assets/images/flooricon.png">
                            <span>Floor 2</span></a>
                    </li>
                    <li>
                        <a href="false">
                            <img src="../../assets/images/flooricon.png">
                            <span>Floor 3</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <a class="navbar-brandc col-sm-12 col-md-12 mr-0" href="#">
                    <img alt="Proximity" src="../../assets/images/oslogo.png">
                </a>
            </div>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-md-1 sidebar">
        <li _ngcontent-sig-c2="" class="sidebar-sticky">
            <ul _ngcontent-sig-c2="" class="nav flex-column">
                <li _ngcontent-sig-c2="" class="nav-item">
                    <a _ngcontent-sig-c2="" class="nav-link active" href="#!fire">
                        <img src="../../assets/images/reporticon.png"> <br> Report
                    </a>
                </li>
                <li _ngcontent-sig-c2="" class="nav-item">
                    <a _ngcontent-sig-c2="" class="nav-link" href="#!cctv_cam">
                        <img src="../../assets/images/alertreporticon.png"><br> Alert Report
                    </a>
                </li>
                <li _ngcontent-sig-c2="" class="nav-item">
                    <a _ngcontent-sig-c2="" class="nav-link" href="#!cctv_cam">
                        <img src="../../assets/images/alertreporticon.png"><br> CCTV CAMERAS
                    </a>
                </li>
            </ul>
        </li>
    </div>
    <div class="col-md-8" style="margin-top: 5%;">
        <table *ngIf="alldatas" datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
                <tr>
                    <th *ngFor="let filterCol of displayedColumnsAlertReport">{{filterCol}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of alldatas" (click)="openReportTable(element)">
                    <td>
                        <img *ngIf="element && element.AlarmType ==='User Detected'" class="redborder" width="51px" [src]="element.SubjectFaceImage">
                        <img *ngIf="element && element.AlarmType==='User Identified'" class="greenborder" width="51px" [src]="element.SubjectFaceImage">
                    </td>
                    <td>{{element ? element.SubjectName+' '+element.SubjectLastName : '-'}}</td>
                    <td>{{element ? element.SubjectCode : '-'}}</td>
                    <!-- <td>{{element.SubjectExpiryDate.slice(1, -1).substring(5, element.SubjectExpiryDate.slice(1, -1).length-1) | date: 'mediumTime'}}</td>
                    <td>{{element.SubjectExpiryDate.slice(1, -1).substring(5, element.SubjectExpiryDate.slice(1, -1).length-1) | date: 'EEE, MMM d, y'}}</td> -->
                    <td>{{element ? element.timeStr : '-'}}</td>
                    <td>{{element ? element.dateStr : '-'}}</td>
                    <td>{{element && element.CameraId ? element.CameraId : ''}}</td>
                    <td>{{element && element.AlarmType === 'User Identified'? 'TRUE': 'FALSE'}}</td>
                    <td>{{element ? mapIdCount[element.SubjectCode] : '-'}}</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="col-sm-12 col-md-12 col-lg-12 team_stats_section" style="padding: 15px 30px; margin-top:21%">
            <h4>location with detection</h4>
            <hr>
            <div class="row charttab">
                <div class="col-md-4 text-center text-white pad0 active tabitem" data="1">Shift Wise</div>
                <div class="col-md-4 text-center text-white pad0 tabitem" data="2">Hourly</div>
                <div class="col-md-4 text-center text-white pad0 tabitem" data="3">Area Wise</div>
            </div>
            <div class="row itemtab1 itemtabdiv">
                <div class="col-sm-7 col-md-7 col-lg-7 progress_chart">
                    <img alt="Proximity" src="../../assets/images/chart.png">
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5 progress_chart">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 white mt12">
                            <span><i class="fa fa-square alerts"></i></span> Alert
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 white mt12">
                            <span><i class="fa fa-square ldetection"></i></span> Low Detection
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 white mt12">
                            <span><i class="fa fa-square detected"></i></span> Detected
                        </div>
                    </div>
                </div>
            </div>
            <div class="row displaynone itemtab2 itemtabdiv"><div class="col-sm-12 col-md-12 col-lg-12 white mt12">Hourly</div></div>
            <div class="row displaynone itemtab3 itemtabdiv"><div class="col-sm-12 col-md-12 col-lg-12 white mt12">Area Wise</div></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 team_stats_section" style="padding: 15px 30px; margin-top:10px">
            <h4>alert (false detection)</h4>
            <hr>
            <div class="detecteduserdiv">
                <!-- <div *ngFor="let element of alldatas" class="row" (click)="openReportTable(element)">
                    <div *ngIf="element && element.AlarmType==='User Detected'" class="col-sm-12 col-md-12 col-lg-12 progress_chart">
                        <div class="row mt12">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <img alt="Proximity" [src]="element.SubjectFaceImage">
                            </div>
                            <div class="col-sm-7 col-md-7 col-lg-7 usernametxt">
                                {{element.SubjectName}}
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 progress_chart" *ngFor="let element of alldatas" (click)="openReportTable(element)">
                        <div class="row mt12">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <img alt="Proximity" [src]="element.SubjectFaceImage">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 usernametxt text-center">
                                {{element.SubjectName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width:100%;padding-left:10px;margin-bottom: 12px;margin:0px;background:#2c2d39;">
    <div class="Surveillance orangebg">
        <!-- <div *ngIf="count" class="rfcounttxt">{{count?count:'0'}}</div> -->
        <div class="rfcounttxt">{{identifiedCount}}</div>
        <div class="rftxt">Identified</div>
    </div>
    <div class="Surveillance redbg">
        <div class="rfcounttxt">{{notIdentifiedCount}}</div>
        <div class="rftxt">Not Identified</div>
    </div>
    <div class="Surveillance greybg">
        <div class="rfcounttxt">07</div>
        <div class="rftxt">Active FRS Cameras</div>
    </div>
    <div class="Surveillance dgreybg">
        <div class="row" style="margin: auto;margin-bottom: -22px;">
            <div class="col-md-2 rftxt" style="margin-top: 28px;">TIME</div>
            <div class="col-md-5 rfcounttxt">01:20</div>
            <div class="col-md-1 rftxt" style="margin-top: 22px;margin-left: -24px;">PM</div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style=" margin: auto;">
            <div class="col-md-2 rftxt" style="margin-top: 17px;">Date</div>
            <div class="col-md-5 rfcounttxt">10.11.2019</div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="Surveillance">
        <div class="row">
            <div class="col-md-12">
                <!-- <h4>Our Partners</h4> -->
                <img alt="" src="../../assets/images/rblogo.jpg">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<div id="detected-popup">
<div *ngIf="openReportTbl" class="white_content_visitor visitor_detailstbl" style="width: 27%;position: fixed;top: 11%;left: 27%;">
    <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
    <h3>Visitors</h3>
    <div class="popup_content">
                <!-- <div class="visitor_profile ml-0"><span><img alt="" src="../../../assets/images/visitor_img1.png"></span></div> -->
                <!-- <div class="visitor_details">
                    <h4>{{!!selectedVisitor ? selectedVisitor.name: ''}}</h4>
                    <h4>{{dataSource}}</h4>
                    <p>Contact Number : +91 98928666</p>
                </div> -->
                <div style="clear:both;"></div>
                <div class="visitor_detailstbl">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <img src="./assets/images/Source10_13748_53_FrameImage.jpg" class="img-responsive">
                            </div>
                            <div>
                                <span class="text-center">Person Name</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="./assets/images/Source10_13748_53_FrameImage.jpg" class="img-responsive">
                            <span class="text-center">Person Name</span>
                        </div>
                    </div>
                        <div class="row" style="margin-top: 13px;">
                            <div class="col-md-4">
                                <img src="./assets/images/Source10_13748_53_FrameImage.jpg" class="img-responsive">
                                <span class="text-center">Person Name</span>
                            </div>
                            <div class="col-md-4">
                                <img src="./assets/images/Source10_13748_53_FrameImage.jpg" class="img-responsive">
                                <span class="text-center">Person Name</span>
                            </div>
                            <div class="col-md-4">
                                <img src="./assets/images/Source10_13748_53_FrameImage.jpg" class="img-responsive">
                                <span class="text-center">Person Name</span>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <td>Visitor's Name</td>
                                    <td>Rahul</td>
                                </tr>
                                <tr>
                                    <td>Employee Id</td>
                                    <td>123</td>
                                </tr>
                            </table>
                        </div>
                        </div>
                        
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div id="detected-popup-new"></div>